<div class="container">
    <header class="relative mountain2-bg">

        <h1 class="black absolute heading-overlay">Make changes to your User account info here</h1>

            <div class="black absolute heading-overlay12">
            <div>
                <h3>
                    <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
                        <div class="flash <%= kind %>">
                            <%= flash[kind] %>
                        </div>
                    <% end %>
                </h3>
            </div><br>




            <form action= <%="/users/#{current_user.id}"%> method= "post">
                <input id="hidden" type="hidden" name="_method" value="patch">
                <br><label>New Username<label><br>
                <input type = "text" name = "username"id = "username" placeholder=<%="#{current_user.username}"%>><br>
                <br><label>Password<label><br>
                <input type = "text" name = "password"id = "password" placeholder="password"><br>
                <br><input type= submit value= "Submit"class="red bold">
            </form>
        </div>

        <div class="sidebarss">
            <h3 class=absolute heading-overlay>Links</h3><br>
            <li><b><br><a href="/coins"class="grey">All Crypto Investments</a><br></li>
            <li><b><br><a href="/logout"class="grey">Log Out</a><br></li>
            <li><b><br><a href=<%="/users/#{current_user.id}"%> class="grey">User Profile</a><br></li>
        </div> 

    </header>

</div>