
<div class="container">
    <header class="relative mountain2-bg">

        <h1 class="black absolute heading-overlay">Crypto Investments</h1>

        <h2><%="#{@user.username}'s Account Info"%></h2>

        <div class="sidebar">
            <h3 class=absolute heading-overlay>Links</h3><br>
            <li><b><br><a href="/coins"class="grey">All Crypto Investments</a><br></li>
            <li><b><br><a href="/logout"class="grey">Log Out</a><br></li>
            <li><b><br><a href="/users/<%=@user.id%>/edit"class="grey">Edit this User</a><br></li>
        </div> 

    </header>

    <div class="black absolute heading-overlay7">

    <h2><%= "USERNAME: #{@user.username.upcase}"%></h2>
    <h3><%= "Account was created:#{@user.created_at}"%></h3>
    <h3><%= "Account was updated:#{@user.updated_at}"%></h3>
    <form action="/users/<%= @user.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE ACCOUNT"class="red bold">
    </form><br>
    
        <br><% @coins.each do |coin| %>
            <div class="coin-display">
            <h3><%= "#{coin.name}" %></h3>
            <p class="small-text"><%="#{coin.name} was created:#{coin.created_at}" %></p>
            <p class="small-text"><%="#{coin.name} was updated:#{coin.updated_at}" %></p>
            <a href= <%="/coins/#{coin.id}"%> class="red">Details...</a>
            </div>
        <% end %>
    </div>

  

</div>