<div class="container">
<header class="relative mountain-bg">

  <h1 class="black absolute heading-overlay">Crypto Investments</h1>
  <h2 class="red absolute heading-overlay6">List of Investments</h2>
    
  <h3 class="black absolute heading-overlay7">
  <% @coins.each do |coin| %><br>
  <%= "#{coin.name}"%><br>
  <%= "Coin Symbol:#{coin.symbol}"%>
  <li><b><br><a href= <%="/coins/#{coin.id}"%> class="red">Details...</a><br></li>
  <% end %></p>
 </h3>



<h1><%="#{@coin.name}"%></h1>
<h2><%="Symbol: #{@coin.symbol}"%></h2>
<h2><%="Coin Quantity: #{@coin.quantity}"%></h2>
<h2><%="Amount Invested: #{@coin.amount_invested}"%></h2>





<p>
<h3>Make changes to your crypto investment here</h3>
<form action= "/coins/<%= @coin.id %>" method= "post">
<input id="hidden" type="hidden" name="_method" value="patch">
<br><label>Coin Name<label><br>
<input type = "text" name = "name"id = "name" placeholder=<%"#{@coin.name}"%>><br>
<br><label>Coin Symbol<label><br>
<input type = "text" name = "symbol"id = "symbol"><br>
<br><label>Coin Quantity<label><br>
<input type = "text" name = "quantity"id = "quantity"><br>
<br><label>Amount Invested<label><br>
<input type = "text" name = "amount_invested"id = "amount_invested"><br>
<br><input type= submit value= "Submit">
</p>
</form>

    </div>

    <div class="sidebar">
      <h3>Links</h3>
      <li><b><br><a href="/coins/<%=@coin.id%>/edit">Edit this Investment</a><br></li>
        <li><b><br><a href="/coins/new">New Coin Transaction</a><br><li>
        <li><b><br><a href="/logout">Log Out</a><br></li>
        <li><b><br><a href="/coins">All Crypto Investments</a><br></li>
      </ul>
    </div>

  </div>
</div>




