
<div class="container">
  <header class="relative mountain-bg">

    <h1 class="black absolute heading-overlay">Crypto Investments</h1>
    <h2 class="red absolute heading-overlay6">List of Investments</h2>

    <h2><%="#{@user.username}'s Investments"%></h2>

    <div class="sidebarsss">
      <h3 class=absolute heading-overlay>Links</h3><br>
      <li><b><br><a href="/coins/new"class="grey">New Coin Transaction</a></li>
      <li><b><br><a href="/logout"class="grey">Log Out</a><br></li>
      <li><b><br><a href=<%="/users/#{@user.id}"%> class="grey">User Profile</a><br></li>
    </div> 

  </header>

  <div class="black absolute heading-overlay7">
    <% @coins.each do |coin| %>
      <div class="coin-display">
        <h3><%= "#{coin.name}" %></h3>
        <p class="small-text">Coin Symbol: <%="#{coin.symbol}" %></p>
        <a href= <%="/coins/#{coin.id}"%> class="red">Details...</a>
      </div>
    <% end %>
  </div>

</div>
