<div class="container">
  <header><></header>
  <div class="col-md-8 col-md-offset-2">
  
    <div class="content">
    
<h1><%="#{@coin.name}"%></h1>
<h2><%="Symbol: #{@coin.symbol}"%></h2>
<h2><%="Coin Quantity: #{@coin.quantity}"%></h2>
<h2><%="Amount Invested: #{@coin.amount_invested}"%></h2>
<h2><%= "Average Coin Price:#{@coin.average_coin_price}"%></h2>




<p>
<h3>Update your Crypto Investment to include your latest purchase</h3>
<form action= "/coins/<%= @coin.id %>/purchased" method= "post">
<input id="hidden" type="hidden" name="_method" value="patch">
<br><label>Coin Quantity<label><br>
<input type = "text" name = "quantity"id = "quantity"><br>
<br><label>Cost<label><br>
<input type = "text" name = "cost"id = "cost"><br>
<br><input type= submit value= "Submit">
</p>
</form>

    </div>

    <div class="sidebar">
      <h3>Links</h3>
      <li><b><br><a href="/coins/<%=@coin.id%>/edit">Edit this Investment</a><br></li>
        <li><b><br><a href="/coins/new">New Coin Transaction</a><br><li>
        <li><b><br><a href="/logout">Log Out</a><br></li>
        <li><b><br><a href="/coins">All Crypto Investments</a><br></li>
      </ul>
    </div>

  </div>
</div>